# 该文件配置npm的一些参数
# https://pnpm.io/npmrc
registry=https://registry.npmmirror.com/

# 将所有内容提升到node_modules的根目录
# https://www.cnblogs.com/asen001/p/15875547.html
# yarn 和 npm 会将所有依赖平铺在 node_modules，在项目中可以访问任何依赖的包。默认配置的 pnpm 创建 node_modules 时不会平铺依赖，我们需要将依赖提升至node_modules根目录
# https://pnpm.io/npmrc#shamefully-hoist
shamefully-hoist=true

# 关闭严格的对等依赖模式
# https://pnpm.io/npmrc#strict-peer-dependencies
strict-peer-dependencies=false

# https://pnpm.io/cli/run#shell-emulator
shell-emulator=true