.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url('/src/assets/loginBg.webp');
  background-size: cover;
}

.login-box {
  display: flex;
  align-items: center;
  text-align: center;
  flex: 1;
  max-width: 550px;
}

@media screen and (max-width: 1180px) {
  .login-form {
    width: 290px;
  }
}

@media screen and (max-width: 968px) {
  .login-box {
    justify-content: center;
  }
}
